<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    <h1>URL's</h1>
    <div>
        <p>localhost/Books/ToRead</p>
        <p>localhost/Books/Reading</p>
        <p>localhost/Books/Read</p>
    </div>
</body>
</html>