<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Books/Include/" method="post">

        <label>Título:</label>
        <input name="title" />
        <br />

        <label>Autor:</label>
        <input name="author" />
        <br />

        <button>Save</button>
    </form>
</body>
</html>