<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <ul>
        @foreach (var book in ViewBag.Books)
        {
            <li>@book.Title - @book.Author</li>
        }
    </ul>
</body>
</html>